.button {
	display: block;
	border: none;
	border-radius: 0;
	background-color: transparent;
	cursor: pointer;
}

.button__clone {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #FFC492;
	background-color: #19161B;
	text-transform: capitalize;
}

.button__menu {
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	color: #D9D9D9;
	background-color: #19161B;
	text-transform: capitalize;
}

.button__form {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	background-color: #27252D;
}

.disabled,
.disabled:hover,
.disabled:active {
	cursor: not-allowed;
	transform: none;
}