.button {
	display: block;
	border: none;
	border-radius: 0;
	background-color: transparent;
	cursor: pointer;
	transition: .3s;

	&:hover {
		color: var(--button-text-hover);
		background-color: var(--background-hover);
	}

	&:active {
		background-color: var(--background-active);
	}
}

.button_clone {
	padding: 10px 5px ;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #FFC492;
	background-color: #19161B;
	text-transform: capitalize;

	&::after {
		content: '';
		background-image: url(../../../../public/assests/icons/arrow.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 20px 8px;
		margin-left: 12px;
		padding-left: 20px;
	}
}

.button_menu {
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	color: #D9D9D9;
	background-color: #19161B;
	text-transform: capitalize;
	position: relative;

	&:hover {
		color: #FFFFFF;
		background-color: transparent;
	}

	&:active {
		color: #D9D9D9;
	}
}

.button_form {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	background-color: #27252D;
}

.disabled,
.disabled:hover,
.disabled:active {
	cursor: not-allowed;
	transform: none;
	color: var(--button-text-disabled);
	background-color: var(--button-disabled);
}