.button {
	display: block;
	border: none;
	border-radius: 0;
	background-color: transparent;
	cursor: pointer;
}

.disabled,
.disabled:hover,
.disabled:active {
	cursor: not-allowed;
	transform: none;
}