.wrapper {
	display: grid;
	grid-template-rows: repeat(3, auto);
}

.textWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 64px;
}

.serving__intro {
	width: 660px;
}

.serving__text {
	width: 549px;
}

.serving__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);
	background-color: var(--background-serving);
}

.serving__item {
	padding: 64px;

	&:not(:nth-child(3n)) {
		border-right: 1px solid var(--line-serving);
	}
}

.item__title {
	font-family: 'Playfair Display', 'Times New Roman', serif;
	font-weight: 700;
	font-size: 32px;
	line-height: 48px;
	margin-bottom: 12px;
	padding-top: 72px;
	position: relative;

	&::before {
		content: '';
		width: 48px;
		height: 48px;
		background-color: var(--background-icon);
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 50%;
	}
}

.icon__one::before {
	background-image: url(../../../../public/assests/icons/cake.svg);
}

.icon__two::before {
	background-image: url(../../../../public/assests/icons/cofee.svg);
}

.icon__three::before {
	background-image: url(../../../../public/assests/icons/fast-food.svg);
}

.icon__four::before {
	background-image: url(../../../../public/assests/icons/cocktails.svg);
}

.icon__five::before {
	background-image: url(../../../../public/assests/icons/grill.svg);
}

.icon__six::before {
	background-image: url(../../../../public/assests/icons/snacks.svg);
}

@media only screen and (max-width: 1278px) {
	.serving__intro {
		width: 56%;
	}

	.serving__text {
		width: 42%;
	}
}

@media only screen and (max-width: 1147px) {
	.textWrapper {
		margin-bottom: 58px;
	}

	.serving__item {
		padding: 58px;
	}

	.item__title {
		margin-bottom: 6px;
		padding-top: 66px;
	}
}

@media only screen and (max-width: 1024px) {
	.item__title {
		font-size: 30px;
		line-height: 46px;
	}
}