.header {
	background-color: var(--background);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 35px;
}

.navigation__logo {
	padding: 11px 5px;
}

@media only screen and (max-width: 1024px) {
	.navigation {
		gap: 25px;
	}
}

@media only screen and (max-width: 768px) {
	.wrapper,
	.navigation {
		gap: 15px;
	}
}