.wrapper {
	display: grid;
	grid-template-columns: 630px 1fr;
	column-gap: 102px;
}

.knowMore__intro {
	margin-bottom: 32px;
}

.knowMore__text {
	margin-bottom: 40px;
}

.features {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 32px;
	margin-bottom: 36px;
}

.feature__title {
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: var(--dustyBlue);

	&::before {
		content: '';
		background-image: url(../../../../public/assests/icons/know-more.svg);
		background-repeat: no-repeat;
		background-size: 13px 31px;
		margin-right: 7px;
		padding-left: 13px;
	}
}

.feature__title + .feature__text {
	margin-bottom: 15px;
}

.imageWrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 67px;
	margin-top: 12px;
}

.image_first {
	margin-top: 83px;
}

@media only screen and (max-width: 1278px) {
	.wrapper {
		grid-template-columns: 3fr 2fr;
		column-gap: 5%;
	}

	.textWrapper {
		align-self: center;
	}

	.imageWrapper {
		column-gap: 5%;
		margin-top: 0;
		align-self: center;
	}

	.knowMore__image {
		width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 1147px) {
	.knowMore__intro {
		margin-bottom: 26px;
	}

	.knowMore__text {
		margin-bottom: 32px;
	}

	.features {
		margin-bottom: 30px;
	}

	.feature__text {
		margin-bottom: 9px;
	}
}

@media only screen and (max-width: 1024px) {
	.knowMore__intro {
		font-size: 46px;
		line-height: 56px;
	}

	.feature__title {
		font-size: 22px;
		line-height: 34px;
	}

}