.menu__list {
	width: 541px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.menu__link {
	display: block;
	color: var(--link);
	background-color: var(--background);
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	cursor: pointer;

	&:hover {
		color: var();
		background-color: var();
	}

	&:active {
		color: var();
		background-color: var();
	}
}