.quote {
	display: grid;
	grid-template-columns: auto 58%;
}

.theQuote {
	padding: 60px 60px 50px 80px;
	background-color: var(--background-second);
}

.theQuote__text {
	padding-top: 70px;
	font-family: 'Playfair Display', 'Times New Roman', serif;
	font-size: 32px;
	line-height: 48px;
	position: relative;

	&::before {
		content: '\0022';
	font-family: 'Gilroy', 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 72px;
	line-height: 92px;
	position: absolute;
	top: 0;
	left: 0;
	}  
}

.quote__video {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}

// .video__play {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	background-image: url(../../../../public/assests/icons/play.svg);
// 	background-position: center;
// 	background-repeat: no-repeat;
// 	width: 60px;
// 	height: 60px;

// }