.navigation__list {
	width: 541px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.navigation__link {
	padding: 9px;
	display: block;
	color: var(--link);
	background-color: var(--background);
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
	transition: .3s;

	&:hover {
		border-bottom: 1px solid var(--link);
		transform: translateY(-1px);
	}

	&:active {
		transform: scale(0.98);
	}
}