.footer {
	padding-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wrapper_top {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.navigation {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(2, auto);
	justify-items: center;
	row-gap: 24px;
}

.navigation__logo {
	padding: 10px;
}

.wrapper_bottom {
	padding-top: 24px;
	padding-bottom: 23px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: 20px;
	position: relative;

	&::before {
		content: '';
		width: 100vw;
		height: 1px;
		background-color: var(--background-second);
		position: absolute;
		top: 0;
		left: -81px;
	}
}

.copyright {
	justify-self: start;
}

.social {
	width: 160px;
	justify-self: center;
}

.social__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social__link {
	width: 15px;
	height: 15px;
	padding: 10px;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	transition: .3s;

	&:hover {
		transform: scale(1.15);
	}

	&:active {
		transform: scale(0.98);
	}
}

.link__fb {
	background-image: url(../../../../public/assests/icons/social-fb.svg);
}

.link__twitter {
	background-image: url(../../../../public/assests/icons/social-twtter.svg);
	height: 12px;
}

.link__inst {
	background-image: url(../../../../public/assests/icons/social-inst.svg);
}

.link__linkedin {
	background-image: url(../../../../public/assests/icons/social-linkedin.svg);
}

.contactUs {
	justify-self: end;
}