.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 32px;
}

.textWrapper {
	margin-top: 74px;
}

.promo__intro {
	padding-bottom: 16px;
}

.promo__text {
	padding-bottom: 32px;
}

.promo__link {
	margin-bottom: 40px;
}

.time,
.place {
	margin-bottom: 16px;
}

.time__title,
.place__title,
.callUs__title {
	font-family: 'Playfair Display';
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	color: var(--white);
}

.place {
	width: 300px;
}

.callUs__link {
	color: var(--text);
}

@media only screen and (max-width: 1278px) {
	.wrapper {
		column-gap: 22px;
	}

	.textWrapper {
		margin-top: 0;
		align-self: center;
	}

	.promo__image {
		width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 1147px) {
	.promo__intro {
		padding-bottom: 10px;
	}

	.promo__text {
		padding-bottom: 20px;
	}

	.promo__link {
		margin-bottom: 20px;
	}

	.time,
	.place {
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 1024px) {
	.orangeBtnLink {
		font-size: 14px;
		line-height: 22px;
	}

	.time__title,
	.place__title,
	.callUs__title {
		font-size: 18px;
		line-height: 28px;
	}

	.promo__image {
		align-self: center;
	}
}

@media only screen and (max-width: 768px) {
	.wrapper {
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		row-gap: 18px;
	}
}