:root {
	--background: #19161B;
	--background-second: #1F1D21;
	--text: #B8B8B8;
	--text-second: #FFFFFF;
	--title: #FFB577;
	--subtitle: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
