:root {
	--background: #19161B;
	--background-second: #1F1D21;
	--background-hover: rgba(255, 196, 146, 0.27);
	--background-active: rgba(255, 196, 146, 0.17);
	--text: #B8B8B8;
	--text-second: #FFFFFF;
	--text-third: #C4E4EA;
	--text-highlighting: #FFC492;
	--title: #FFB577;
	--link: #FFFFFF;
	--logo-hover: #FFB577;
	--button-text-hover: #FFFFFF;
	--button-disabled: #27252D;
}

@font-face {
	font-family: 'Playfair Display';
	font-weight: 400;
	font-style: normal;
	src: url(../public/assests/fonts/PlayfairDisplay-400-Regular-eng-rus.woff2);
	font-display: swap;
}

@font-face {
	font-family: 'Playfair Display';
	font-weight: 500;
	font-style: normal;
	src: url(../public/assests/fonts/PlayfairDisplay-500-Medium-eng-rus.woff2);
	font-display: swap;
}

@font-face {
	font-family: 'Playfair Display';
	font-weight: 600;
	font-style: normal;
	src: url(../public/assests/fonts/PlayfairDisplay-600-SemiBold-eng-rus.woff2);
	font-display: swap;
}

@font-face {
	font-family: 'Playfair Display';
	font-weight: 700;
	font-style: normal;
	src: url(../public/assests/fonts/PlayfairDisplay-700-Bold-eng-rus.woff2);
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	font-weight: 400;
	font-style: normal;
	src: url(../public/assests/fonts/Poppins-400-Regular-eng.woff2);
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	font-weight: 500;
	font-style: normal;
	src: url(../public/assests/fonts/Poppins-500-Medium-eng.woff2);
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	font-weight: 600;
	font-style: normal;
	src: url(../public/assests/fonts/Poppins-600-SemiBold-eng.woff2);
	font-display: swap;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	font-family: "Poppins", "Arial", sans-serif;
}

img {
	display: block;
}

:focus-visible {
    outline: 2px solid #C4E4EA;
    outline-offset: 2px;
}